<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title>News Site Test</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

    <script src="https://d3js.org/d3-color.v1.min.js"></script>
    <script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <style>
      .cloudStyle
      {

      }
    </style>
</head>
<body>
    <div id='app'>
        <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
            <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">News Site</a>
            <input class="form-control form-control-dark w-100" type="text" placeholder="This absolutely does not work" aria-label="Search">
            <div style="width: 100px;"></div>
          </nav>
          
          <div class="container-fluid">
            <div class="row">
              <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="sidebar-sticky pt-3">
                  <ul class="nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link active" href="#">Word Cloud <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Other Viz</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Different Viz</a>
                    </li>
                  </ul>
          
                </div>
              </nav>
          
              <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                  <div class="d-flex justify-content-between">
                      <h1>Word Cloud</h1>
                      <button class='btn' @click="toggleColouring">Colour by Trendiness</button>
                </div>

                <!-- <canvas class="my-4 w-100" id="myChart" width="900" height="380">
                </canvas> -->
                <div class="d-flex justify-content-center">
                    <div id="wordCloud"></div>
                </div>

                <hr/>

                <div class="d-flex justify-content-center">
                        <h2>{{selectedWord}}</h2>
                </div>
                
                <div class="row d-flex justify-content-center">
                    <div class="col-8" id="lineChart"></div>
                    <div class="col-4" id="urlBox">
                      <ul class="list-group">
                          <a v-for="url in currentUrls" 
                              :href="url.url" target="_blank" class="list-group-item list-group-item-action">{{url.title}}</a>
                      </ul>
                    </div>
                </div>

                </div>
              </main>
            </div>
          </div>
    </div>
    <script src='main.js'></script>
</body>